@using VoteNaija.Models
@{
    List<VoteSection> list = new List<VoteSection>();
    int sum = 0;
    try { 
    ArticleManagement.VoteResult(ViewBag.contentId, out list, out sum);
    }
    catch { }
    var news = ArticleManagement.ListGroupTitles(0, "News",5);
    var articles = ArticleManagement.ListGroupTitles(0, "Article",5);
}
@section slider{
    <div id='hislider1' style=" width:1150px; margin:0px 0px 10px 127px;  max-height:380px; height:380px;"></div>

    <noscript>Please enable JavaScript to view.</noscript>
    <!----end------Insert to your webpage where you want to display the slider-->
}
<section>
    <header>
        <h2>Vote</h2>
    </header>

    @if (list != null)
    {
        <h3 style="font-family:Georgia,serif;
	            color:#4E443C;
                font-size: 20px;
                text-align:left;
	            font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;">
            @ViewBag.Title
            </h3>
        foreach (var voteSection in list)
        {
            var percentage = 0.0;
            if (sum > 0)
            { percentage = (Convert.ToDouble(voteSection.Votes) / Convert.ToDouble(sum)) * 450; }
            <div>
                @if (voteSection.ImageUrl != null)
                {
                    <div style="float:left">
                        <img src="~/Images/@voteSection.ImageUrl" class="img1" />
                    </div>
                }
                <div style="float:left">
                    <p>@voteSection.Section</p>
                    <div style="width:450px; background-color: #f3f3f3; border: 0; height: 18px; border-radius: 9px;">
                        <div style="width:@(percentage)px; background-color: #81BEF7; border: 0; height: 18px; border-radius: 9px;"></div>
                    </div>
                    <p>@((percentage/450*100).ToString("#.#"))% (@voteSection.Votes Votes)</p>
                </div>
            </div>
            <br style="clear:both" />
        }
        @Html.ActionLink("Vote/Comment", "Page", new { contentId = ViewBag.contentId, groupId = ViewBag.groupId }, new { @class = "button" })
        <br />
        <p>@Html.ActionLink("More Vote", "GroupResult", "Vote", new { voteGroup = "Vote" }, new { @class = "button" })</p>
    }
    <br style="clear:both" />
</section>

<section>
    <header>
        <h2>News</h2>
        @{
            if (news != null)
            {
                foreach (var content in news)
                {
                    <div>
                        <div style="float:left">
                            <h3 style="font-family:Georgia,serif;
	                    color:#4E443C;
                        font-size: 20px;
                        text-align:left;
	                    font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;">
                                <b>@content.Title</b>
                            </h3>
                            <p style="text-align:left;">by <b>@content.Authur</b> on <i><b>@string.Format("{0:f}", content.Date)</b></i></p>
                            <p style="text-align:justify;">
                                @if (content.ImageUrl != null)
                                {
                                    <img src="~/Images/@content.ImageUrl" style="float:left" class="img2" />
                                }@content.Summary
                            </p>
                            <p>@Html.ActionLink("Read More...", "Page", "Vote", new { contentId = content.ContentID, groupId = content.GroupID }, null)</p>
                        </div>
                    </div>
                }
                <p>@Html.ActionLink("More News", "GroupResult", "Vote", new { voteGroup = "News" }, new { @class = "button" })</p>
            }
        }
        <br style="clear:both" />
    </header>
</section>

<section>
    <header>
        <h2>Article</h2>
        @{
            if (articles != null)
            {
                foreach (var content in articles)
                {
                    <div>
                        <div style="float:left">
                            <h3 style="font-family:Georgia,serif;
	                    color:#4E443C;
                        font-size: 20px;
                        text-align:left;
	                    font-variant: small-caps; text-transform: none; font-weight: 100; margin-bottom: 0;">
                                <b>@content.Title</b>
                            </h3>
                            <p style="text-align:left;">by <b>@content.Authur</b> on <i><b>@string.Format("{0:f}", content.Date)</b></i></p>
                            <p style="text-align:justify;">
                                @if (content.ImageUrl != null)
                                {
                                    <img src="~/Images/@content.ImageUrl" style="float:left" class="img2" />
                                }@content.Summary
                            </p>
                            <p>@Html.ActionLink("Read More...", "Page", "Vote", new { contentId = content.ContentID, groupId = content.GroupID }, null)</p>
                        </div>
                    </div>
                }
                <p>@Html.ActionLink("More Articles", "GroupResult", "Vote", new { voteGroup = "Article" }, new { @class = "button" })</p>
            }
        }
        <br style="clear:both" />
    </header>
</section>
